
/* google.com/fonts import files go above this line ^

=== Project Info =====
Project:	
Edit date:

======= Color ========
Primary Color: 
Secondary Color: 
Third Color: 
Grey:

===== Typography ======
Font Family:
Weights:

*/

/* Nav / Menus
================= */


/* Header
================= */
.open-slider {
	padding: 20px;
	background: #feeebc;
}
.video-list {
	padding: 20px;
	background: #deb887;
}
.video-list h1 {
	font-size: 30px;
}
.video-list h2 {
	font-weight: 200;
	font-size: 25px;
}
.video-list ol {
	font-weight: 200;
	font-size: 18px;
}
.destinations {
	padding: 25px;
	background: #87ceeb;
}
/* Content
================= */


/* Footer
================= */


/**********************************************************
Media Querys (480px, 768px, 990px, 1200px, 1500px, 2000px)
***********************************************************/

/* Smaller than
================= */

/* Applied to resolutions less than 2000 (3x) */
	@media (max-width: 2000px) {

	}

/* Applied to resolutions less than 1740 (2x) */
	@media (max-width: 1740px) {

	}

/* Applied to resolutions less than 1500 (Xl) */
	@media (max-width: 1500px) {

	}

/* Applied to resolutions less than 1200 (lg) */
	@media (max-width: 1200px) {

	}

/* Applied to resolutions less than 990 (md) */
	@media (max-width: 990px) {

	}

/* Applied to resolutions less than 768 (sm) */
	@media (max-width: 768px) {

	}

/* Applied to resolutions less than 480 (XS) */
	@media (max-width: 480px) {

	}

/* Larger than
================= */

/* Applied to resolutions larger than 2000 (3x) */
	@media (min-width: 2001px) {

	}

/* Applied to resolutions larger than 1500 (2x) */
	@media (min-width: 1501px) {

	}

/* Applied to resolutions larger than 1200 (xl) */
	@media (min-width: 1201px) {

	}

/* Applied to resolutions larger than 990 (lg) */
	@media (min-width: 991px) {

	}

/* Applied to resolutions larger than 768 (sm) */
	@media (min-width: 769px) {

	}

/* Applied to resolutions larger than 480 (xs) */
	@media (min-width: 481px) {

	}

/***************************************
Default Style Sheet created as part of - The Maui Toolbox
For more information visit: www.mauitoolbox.com
pub-20150501
***************************************/
